@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto.woff2") format("woff2"),
       url("../fonts/roboto.woff") format("woff");
  font-weight: light;
}

@font-face {
  font-family: "Roboto Bold";
  src: url("../fonts/robotobold.woff2") format("woff2"),
       url("../fonts/robotobold.woff") format("woff");
  font-weight: bold;
}

@font-face {
  font-family: "Roboto Medium";
  src: url("../fonts/robotomedium.woff2") format("woff2"),
       url("../fonts/robotomedium.woff") format("woff");
  font-weight: medium;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #283136;
  background-color: #fff;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-nav {
  display: flex;
}

.main-header {
  padding-top: 48px;
  background-color: #eeeeee;
}

.header-logo:hover {
  opacity: 0.8;
}

.header-logo:active {
  opacity: 0.3;
}

.site-list {
  display: flex;
  margin: 0;
  margin-left: 201px;
  padding: 0;
  padding-top: 25px;
  list-style: none;
}

.site-list__item {
  position: relative;
  padding-right: 46px;
}

.site-list__item--active::after {
  content: "";
  position: absolute;
  bottom: 12px;
  left: 2px;
  width: 74px;
  height: 2px;
  background-color: #fb565a;
}

.site-list__link {
  font-family: "Roboto Medium", Arial, sans-serif;
  line-height: 30px;
  font-weight: 500;
  color: #000;
  text-transform: uppercase;
}

.site-list__link:hover {
  color: #fb565a;
}

.site-list__link:active {
  color: rgba(0,0,0,0.3);
}

.user-list {
  position: relative;
  margin: 0;
  padding: 0;
  padding-top: 25px;
  margin-left: auto;
  list-style: none;
}

.user-list__item {
  padding-left: 40px;
}

.user-list__cart {
  font-family: "Roboto Medium", Arial, sans-serif;
  line-height: 30px;
  font-weight: 500;
  color: #000;
  text-transform: uppercase;
}

.user-list__cart:hover {
  color: #fb565a;
}

.user-list__cart:active {
  color: rgba(0,0,0,0.3);
}

.user-list__cart::before {
  content: "";
  position: absolute;
  top: 32px;
  left: 0px;
  width: 15px;
  height: 15px;
  background-image: url("../img/cart-icon.svg");
}

.slider {
  position: relative;
  margin-bottom: 80px;
  background-color: #eeeeee;
}

.slider-controls {
  position: absolute;
  left: 50%;
  bottom: 104px;
  z-index: 100;
  width: 160px;
  height: 18px;
  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.switch {
  position: relative;
  display: inline-block;
  padding: 8px;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  cursor: pointer;
}

.switch::after {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 1;
  width: 18px;
  height: 18px;
  background: #ffffff;
  border-radius: 50%;
}

.slide-1:checked ~ .slider-controls .switch-active-1::before,
.slide-2:checked ~ .slider-controls .switch-active-2::before,
.slide-3:checked ~ .slider-controls .switch-active-3::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;
  width: 4px;
  height: 4px;
  margin: -4px;
  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}

.slider__list {
  margin: 0;
  padding: 0;
}

.slide-item-1 {
  display: none;
  padding-top: 70px;
  padding-bottom: 80px;
  background-image: url("../img/slide1.png");
  background-repeat: no-repeat;
  background-position: 93% 100%;
}

.slide-item-2 {
  display: none;
  padding-top: 70px;
  padding-bottom: 80px;
  background-image: url("../img/slide2.png");
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.slide-item-3 {
  display: none;
  padding-top: 70px;
  padding-bottom: 80px;
  background-image: url("../img/slide3.png");
  background-repeat: no-repeat;
  background-position: 100% 100%;
}

.slide-1:checked ~ .slider__list .slide-item-1 {
  display: block;
}

.slide-2:checked ~ .slider__list .slide-item-2 {
  display: block;
}

.slide-3:checked ~ .slider__list .slide-item-3 {
  display: block;
}

.slide__lead {
  margin: 0;
  margin-bottom: 28px;
  width: 400px;
  font-family: "Roboto Medium", Arial, sans-serif;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: #000;
}

.slide-item-2 .slide__lead {
  width: 600px;
}

.slide-item-3 .slide__lead {
  width: 460px;
}

.slide__text {
  margin: 0;
  margin-bottom: 39px;
}

.slide-item-2 .slide__text {
  width: 430px;
}

.slide-item-3 .slide__text {
  width: 360px;
}

.button {
  display: block;
  padding-top: 13px;
  padding-bottom: 13px;
  font-family: "Roboto Medium", Arial, sans-serif;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
}

.slide__button {
  width: 240px;
  line-height: 24px;
  background-color: #fb565a;
}

.slide__button:hover {
  background-color: #e74246;
}

.slide__button:active {
  color: rgba(255,255,255,0.3);
  background-color: #d7373b;
}

.advantages {
  margin-bottom: 42px;
  padding-bottom: 79px;
  border-bottom: 1px solid #eeeeee;
}

.advantages__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages__item {
  width: 360px;
}

.advantages__img {
  margin-bottom: 19px;
}

.advantages__title {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 30px;
  font-family: "Roboto Bold", Arial, sans-serif;
  text-transform: uppercase;
}

.advantages__text {
  margin: 0;
  margin-bottom: 33px;
  padding-right: 95px;
}

.advantages__button {
  width: 160px;
}

.advantages__button--red {
  background-color: #fb565a;
}

.advantages__button--green {
  background-color: #00ca74;
}

.advantages__button--yellow {
  background-color: #efc84a;
}

.advantages__button--red:hover {
  background-color: #e74246;
}

.advantages__button--red:active {
  color: rgba(255,255,255,0.3);
  background-color: #d7373b;
}

.advantages__button--green:hover {
  background-color: #00bc6c;
}

.advantages__button--green:active {
  color: rgba(255,255,255,0.3);
  background-color: #00aa62;
}

.advantages__button--yellow:hover {
  background-color: #eab534;
}

.advantages__button--yellow:active {
  color: rgba(255,255,255,0.3);
  background-color: #e5a722;
}

.studio-columns {
  display: flex;
  margin-bottom: 17px;
  padding-bottom: 79px;
  border-bottom: 1px solid #eeeeee;
}

.studio__title {
  width: 670px;
  margin: 0;
  margin-top: 34px;
  margin-bottom: 33px;
  font-family: "Roboto Bold", Arial, sans-serif;
  font-size: 45px;
  line-height: 45px;
  color: #000;
}

.studio__text {
  width: 660px;
  margin: 0;
  margin-bottom: 38px;
}

.studio__orders-title {
  margin: 0;
  margin-bottom: 24px;
  font-family: "Roboto Bold", Arial, sans-serif;
  font-weight: 600;
  color: #000;
  text-transform: uppercase;
}

.studio__orders-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.studio__item {
  position: relative;
  margin-bottom: 24px;
  padding-left: 37px;
}

.studio__item::before {
  content: "";
  position: absolute;
  top: 11px;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
}

.results {
  width: 360px;
  margin-left: auto;
}

.results__img {
  margin-bottom: 28px;
}

.results__headline {
  display: block;
  margin-bottom: 31px;
  padding-left: 18px;
  text-transform: uppercase;
  color: #000;
}

.results__table {
  border-collapse: collapse;
  border-spacing: 0;
}

.results__cell-number {
  font-size: 45px;
  line-height: 45px;
  font-family: "Roboto Bold", Arial, sans-serif;
  color: #000;
}

.results__cell-percent {
  font-size: 24px;
  vertical-align: super;
}

.results__cell {
  padding-top: 20px;
  padding-right: 25px;
  line-height: 18px;
}

.our-partners {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 81px;
  padding-bottom: 38px;
  border-bottom: 1px solid #eeeeee;
}

.our-partners__item {
  width: 23%;
  opacity: 0.2;
  text-align: center;
}

.our-partners__item:hover {
  opacity: 1;
}

.our-partners__item:active {
  opacity: 0.1;
}

.footer-container {
  display: flex;
  margin-bottom: 70px;
}

.contacts {
  position: relative;
  margin-bottom: 69px;
}

.map {
  display: block;
  margin: 0 auto;
}

.contacts__wrapper {
  position: absolute;
  top: 54px;
  left: 180px;
  width: 319px;
  height: 308px;
  padding-top: 49px;
  padding-left: 50px;
  background-color: #fff;
  box-sizing: border-box;
}

.contacts__title {
  margin: 0;
  margin-bottom: 24px;
  font-size: 18px;
  line-height: 30px;
  color: #000;
  text-transform: uppercase;
}

.contacts__text {
  width: 210px;
  margin: 0;
  margin-bottom: 16px;
  line-height: 18px;
  color: #666666;
}

.contacts__phone {
  display: block;
  margin-bottom: 33px;
  color: #666666;
}

.contacts__button {
  width: 219px;
  background-color: #fb565a;
}

.contacts__button:hover {
  background-color: #e74246;
}

.contacts__button:active {
  background-color: #d7373b;
  color: rgba(255,255,255,0.3);
}

.footer-social {
  display: flex;
  margin: 0;
  margin-right: 126px;
  padding: 0;
  list-style: none;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 78px;
  height: 78px;
  margin-right: 13px;
  background-color: #e1e1e1;
  border-radius: 50%;
}

.social__link:hover {
  background-color: #e74246;
}

.social__link:active {
  background-color: #d7373b;
}

.social__link:active path {
  opacity: 0.3;
}

.footer-promo__lead {
  display: block;
  margin-top: 6px;
  margin-bottom: 10px;
  font-size: 36px;
  line-height: 36px;
  font-family: "Roboto Bold", Arial, sans-serif;
  color: #000;
}

.footer-promo__text {
  margin: 0;
  line-height: 22px;
  color: #444444;
}

.feedback {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 3;
  width: 960px;
  height: 590px;
  padding-top: 68px;
  padding-left: 100px;
  padding-right: 100px;
  background-color: #fff;
  box-shadow: 0 20px 40px 0px rgba(0,1,1,.75);
  transform: translate(-480px, -295px);
  box-sizing: border-box;
}

.feedback-show {
  display: block;
}

.feedback__title {
  margin: 0;
  margin-bottom: 23px;
  font-size: 45px;
  line-height: 45px;
  font-family: "Roboto Medium", Arial, sans-serif;
  font-weight: 300;
  color: #000;
}

.feedback__container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 19px;
}

.feedback__text {
  display: flex;
  flex-direction: column;
}

.feedback__item {
  margin: 0;
  margin-bottom: 10px;
  line-height: 18px;
  font-family: "Roboto Bold", Arial, sans-serif;
  color: #000;
}

.feedback__input {
  width: 360px;
  height: 50px;
  padding-left: 14px;
  font-family: "Roboto", Arial, sans-serif;
  border: 2px solid #d7dcde;
  box-sizing: border-box;
}

.feedback__input:hover {
  border: 2px solid #b4b9bb;
}

.feedback__input:focus {
  border: 2px solid #000;
}

.feedback__input:-webkit-input-placeholder {
  color: rgba(68, 68, 68, 0.5);
}

.feedback__input:focus:-webkit-input-placeholder {
  color: rgba(68, 68, 68, 1);
}

.invalid {
  border-color: #e74246;
  color: #e74246;
}

.feedback__button {
  width: 260px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #fb565a;
  border: none;
}

.feedback__button:hover {
  background-color: #e74246;
}

.feedback__button:active {
  background-color: #d7373b;
  color: rgba(255,255,255,0.3);
}

.feedback__textarea {
  height: 102px;
  margin-bottom: 35px;
  padding-top: 10px;
  padding-left: 13px;
  border: 2px solid #d7dcde;
}

.feedback__textarea:hover {
  border: 2px solid #b4b9bb;
}

.feedback__textarea:focus {
  border: 2px solid #000;
}

.feedback__close {
  position: absolute;
  top: 13%;
  right: 8.5%;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.feedback__close path {
  opacity: .3;
}

.feedback__close:hover path {
  opacity: 1;
}

.feedback__close:active path {
  opacity: .1;
}


/* --------------------------------- CATALOG --------------------------------- */

.catalog-header {
  margin-bottom: 55px;
  background-color: #eeeeee;
}

.catalog-header__title {
  width: 730px;
  margin: 0 auto;
  padding-top: 70px;
  padding-bottom: 110px;
  font-size: 55px;
  line-height: 55px;
  font-family: "Roboto Medium", Arial, sans-serif;
  font-weight: 300;
  color: #000;
}

.filters-wrapper {
  display: flex;
}

.filters {
  width: 300px;
}

.filters__group {
  padding: 0;
  border: none;
}

.filters__title {
  margin-bottom: 48px;
  font-size: 18px;
  line-height: 30px;
  font-family: "Roboto Bold", Arial, sans-serif;
  color: #000;
  text-transform: uppercase;
}

.range {
  width: 260px;
  height: 80px;
  margin-bottom: 13px;
  padding-top: 39px;
  padding-left: 17px;
  background-color: #eeeeee;
  box-sizing: border-box;
}

.range__scale {
  width: 219px;
  height: 2px;
  background-color: #d7dcde;
}

.range__bar {
  width: 70%;
  height: 2px;
  background-color: #00ca74;
}

.range__toggle {
  position: relative;
  width: 4px;
  height: 4px;
  background-color: #ababab;
  border: 8px solid #fff;
  border-radius: 50%;
  box-shadow: 0 2px 4px 1px #cfcfcf;
  cursor: pointer;
}

.range__toggle-min {
  top: -11px;
  left: 0;
}

.range__toggle-max {
  top: -31px;
  left: 142px;
}

.range-controls {
  margin-bottom: 53px;
}

.range-controls__label {
  margin-right: 7px;
  line-height: 22px;
  text-transform: uppercase;
}

.range-controls__input {
  width: 80px;
  height: 38px;
  margin-right: 29px;
  background-color: #eeeeee;
  border: none;
  text-align: center;
}

.range-controls__input:last-child {
  margin: 0;
}

.filters__group--radio {
  margin-bottom: 28px;
}

.filters__title--radio {
  margin-bottom: 13px;
}

.filters__label {
  position: relative;
  display: block;
  margin-bottom: 17px;
}

.radio-indicator {
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-off.svg");
  opacity: .4;
  cursor: pointer;
}

.radio-indicator:hover {
  opacity: 1;
}

.filters__input:disabled + .radio-indicator {
  opacity: .1;
}

.filters__input:checked + .radio-indicator::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  background-image: url("../img/radio-on.svg");
}

.filters__text {
  display: block;
  padding-top: 3px;
  padding-left: 34px;
  line-height: 20px;
  cursor: pointer;
}

.filters__group--checkbox {
  margin-bottom: 31px;
}

.filters__title--checkbox {
  margin-bottom: 15px;
}

.checkbox-indicator::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 23px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  opacity: .4;
  cursor: pointer;
}

.checkbox-indicator:hover::before {
  opacity: 1;
}

.filters__input:checked + .checkbox-indicator::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 27px;
  height: 23px;
  background-image: url("../img/checkbox-on.svg");
}

.filters__input:disabled + .checkbox-indicator::before {
  opacity: .1;
}

.filters__button {
  width: 260px;
  height: 50px;
  padding-top: 3px;
  line-height: 18px;
  font-family: "Roboto Medium", Arial, sans-serif;
  text-transform: uppercase;
  color: #000;
  background-color: #eeeeee;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}

.filters__button:hover {
  background-color: #dfdfdf;
}

.filters__button:active {
  padding-top: 0;
  background-color: #d5d5d5;
  border-top: 3px solid #bfbfbf;
}

.catalog {
  width: 760px;
  margin-left: auto;
}

.sorting {
  display: flex;
  margin-bottom: 53px;
}

.sorting__title {
  margin: 0;
  margin-top: 3px;
  font-size: 18px;
  line-height: 18px;
  font-family: "Roboto Bold", Arial, sans-serif;
  text-transform: uppercase;
  color: #000;
}

.sorting__link {
  margin-left: 26px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.3);
}

.sorting__link:hover {
  color: rgba(0, 0, 0, 0.6);
}

.sorting__link:active {
  color: rgba(0, 0, 0, 1);
}

.sorting__link--active {
  color: #000;
}

.sorting__link--active:hover {
  color: #000;
}

.sorting__link--active:active {
  color: #000;
}

.sorting__list {
  display: flex;
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style: none;
}

.sort-container {
  display: flex;
  margin: 0;
  margin-left: 30px;
  padding: 0;
  list-style: none;
}

.sort__button {
  margin-left: 18px;
  opacity: .2;
}

.sort__button:hover {
  opacity: .6;
}

.sort__button:active {
  opacity: 1;
}

.sort__button--active {
  opacity: 1;
}

.catalog__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 26px;
}

.catalog__item {
  position: relative;
  width: 360px;
  margin-bottom: 27px;
  cursor: pointer;
}

.catalog__item:nth-child(2n) {
  margin-left: 40px;
}

.catalog__item::before {
  content: "";
  display: block;
  width: 360px;
  height: 40px;
  background-image: url("../img/browser.svg");
  opacity: .12;
}

.catalog__item:hover {
  box-shadow: 0 6px 15px 0 rgba(0, 0, 0, 0.25)
}

.catalog__item:hover .catalog__popup{
  display: block;
}

.catalog__item:hover::before {
  opacity: 1;
}

.catalog__popup {
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-bottom: 48px;
  background-color: #eeeeee;
  box-sizing: border-box;
}

.popup__title {
  margin: 0;
  margin-top: 27px;
  font-size: 18px;
  line-height: 30px;
  font-family: "Roboto Bold", Arial, sans-serif;
  text-transform: uppercase;
  color: #000;
  text-align: center;
}

.popup__text {
  width: 190px;
  margin: 0 auto;
  margin-top: 15px;
  line-height: 18px;
  color: #666666;
  text-align: center;
}

.popup__button {
  width: 200px;
  margin: 0 auto;
  margin-top: 31px;
  padding-top: 16px;
  padding-bottom: 16px;
  color: #fff;
  background-color: #fb565a;
  border: none;
}

.popup__button:hover {
  background-color: #e74246;
}

.popup__button:active {
  background-color: #d7373b;
}

.catalog__pagination {
  display: flex;
  margin: 0;
  margin-bottom: 61px;
  padding: 0;
  list-style: none;
}

.pagination__link {
  display: block;
  width: 50px;
  margin-right: 11px;
  padding-top: 13px;
  padding-bottom: 13px;
  line-height: 18px;
  font-family: "Roboto Medium", Arial, sans-serif;
  color: #000;
  background-color: #eeeeee;
  border: 3px solid #eeeeee;
  border-radius: 3px;
  box-sizing: border-box;
  text-align: center;
}

.pagination__link:hover,
.pagination__link--next:hover {
  background-color: #dfdfdf;
  border: 3px solid #dfdfdf;
}

.pagination__link:active, 
.pagination__link--next:active {
  color: rgba(0, 0, 0, 0.3);
  background-color: #d5d5d5;
  border-top: 3px solid #bfbfbf;
  border-left: 3px solid #d5d5d5;
  border-right: 3px solid #d5d5d5;
  border-bottom: 3px solid #d5d5d5;
}

.pagination__link--active {
  background-color: #fff;
  border: 3px solid #dbdbdb;
}

.pagination__link--active:hover {
  background-color: #fff;
  border: 3px solid #dbdbdb;
}

.pagination__link--active:active {
  background-color: #fff;
  border: 3px solid #dbdbdb;
}

.pagination__link--next {
  width: 261px;
  text-transform: uppercase;
}

